@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-dark-gray: #222b3c;
  --color-beige: #e3e1dc;
  --color-gold: #ffbd59;
}

:root {
  --candle-progress: 1;
  --background: var(--color-dark-gray);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-dark-gray);
  color: var(--color-beige);
  font-family: Arial, Helvetica, sans-serif;
}
