@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-silver: #cec0baff;
  --color-papaya-whip: #feefd6ff;
  --color-air-force-blue: #C1CCD7;
  --color-dusk-blue: #30547aff;
  --color-cool-steel: #96a9b4ff;
  --color-harcoal-blue: #2c4156ff;
  --color-ink-black: #0d1d29ff;
  --color-lavelnder-veil: #e5d4edff;
  --color-dim-gray: #746F72ff;
  --color-white: #ffffffff;
  --color-amethyst-smoke: #9F84BDff;
}

:root {
  --candle-progress: 1;
  --background: var(--color-dark-gray);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: color-mix(
    in srgb,
    #222b3c calc(var(--candle-progress) * 100%),
    #0a0a0b
  );
  color: var(--color-silver);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  transition: background-color 2s ease;
}
